h1 {
    color: rgb(8, 128, 112);
    text-align: center;
}
button {
    height: 30px;
    background-color: rgb(201, 243, 201);
    margin: 0px 10px 0px 10px;
    
}
.contorno-form {
    margin: 0px 400px 0px 400px;
    padding: 0px 50px 300px 50px;
    background-color: rgb(245, 247, 243);
}
.cx {
    background-color: #fff;
    padding: 6px 42px;
    width: 350px;
}

#lista
{
    margin-left: 0;
    font-size: large;
    color:blue;
}

table
{
    border:solid;
    border-color: blue;
    border-width: medium;
}